<div class="col-12">
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title"><%= I18n.t('recipes.search.no_results') %></h4>
      <p class="card-text"><%= I18n.t('recipes.search.no_results_explanation') %></p>
    </div>
  </div>
</div>