<div class="recipe__extra_details ms-2">
  <div class="d-flex flex-row justify-content-between">
    <div class="d-flex flex-row flex-wrap">
      <div class="me-4">
        <%= recipe.cooking_time_minutes_marker %>
      </div>
      <div class="me-4">
        <%= recipe.prep_time_minutes_marker %>
      </div>
      <div class="me-4">
        <%= recipe.servings_marker %>
      </div>
      <div class="me-4">
        <%= recipe.vegan_vegetarian_marker %>
      </div>
    </div>
  </div>
</div>
