<%= form_tag(recipes_path, method: :get, data: {turbo_stream: true}, class: "recipes__search form-inline d-flex align-items-center flex-grow-1 me-3") do %>
  <div class="flex-column d-flex flex-grow-1">
    <div class="form-group me-3 mb-2">
      <%= text_field_tag :search_text, params[:search_text], class: "form-control", placeholder: t('recipes.search.placeholder') %>
    </div>
    <div class="form-group me-3">
      <%= select_tag :search_ingredient_ids, options_for_select(Ingredient.by_name.map { |i| [i.name, i.id] }, params[:search_ingredient_ids]),
                       { prompt: t('recipes.search.filter_by_ingredients'), multiple: true, class: "form-control",data: { 
                        controller: "smart-select", "smart-select-create-value": false,
                        "smart-select-model-name-value": "measurement_unit" 
                        }} %>
    </div>
  </div>
  <%= submit_tag t('helpers.search'), class: "btn btn-primary" %>
<% end %>