<div class="p-4 p-lg-5 ms-lg-5">
  <div class="recipe_details flex-grow-1">
    <%= turbo_frame_tag "new_recipe_form", target: :_top do %>
      <%= render "form", recipe: @recipe, title: t('activerecord.actions.edit', model: Recipe.model_name.human),
                         available_ingredients: @available_ingredients, measurement_units: @measurement_units %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to t('helpers.cancel'), recipes_path, class: "btn btn-outline-warning" %>
  </div>
</div>
<%= render 'shared/loading_modal' %>
