$primary: #FFAE03;
$secondary: #EE6352;
$success: #60A561;
$info: #7445C4;
$warning: #EE6352;
$danger: #8A0526;
$light: #f8f9fa;
$dark: #212529;

$form-check-input-checked-color: $primary;
$form-check-input-checked-bg-color: $info;