$primary: #FFAE03;
$secondary: #60A561;
$success: #60A561;
$info: #08B2E3;
$warning: #EE6352;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;


// $theme-colors: map-merge(
//     $theme-colors,
//     (
//         "primary": $primary,
//         "secondary": $secondary,
//         "success": $success,
//         "info": $info,
//         "warning": $warning,
//         "danger": $danger,
//         "light": $light,
//         "dark": $dark
//     )
// );
