a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

h1{
    display: inline-block;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 40%;
        left: 5%;
        width: 100%;
        height: 60%;
        background-color: $warning;
        opacity: 0.75;
        z-index: -1;
        transform: skew(-15deg, -2deg);
        border-radius: 5px;
    }
}

.brand__title{
    display: inline-block;
    position: relative;
    z-index: 1;
    &::before {   
        content: "";
        position: absolute;
        top: 40%;
        left: 5%;
        width: 100%;
        height: 60%;
        background-color: $warning;
        opacity: 0.75;
        z-index: -1;
        transform: skew(-15deg, -2deg);
        border-radius: 5px;
    }
}


