$ingredients__panel_base_width: 400px;

.recipe__main {
    @media (min-width: 768px) and (orientation: landscape) {
        width: calc(100% - $ingredients__panel_base_width);
    }
    
    @media (max-width: 767px), (min-width: 768px) and (orientation: portrait) {
        width: 100%;
    }
}
.recipe__ingredients_panel {
    position: fixed;
    right: 0;
    top: 0;
    
    @media (min-width: 768px) and (orientation: landscape) {
        width: $ingredients__panel_base_width;
        height: 100vh; // take full height of the viewport
    }

    @media (max-width: 767px), (min-width: 768px) and (orientation: portrait) {
        width: 100%;
    }
}
    