$ingredients__panel_base_width: 400px;

.recipe__main {
    @media (min-width: 768px) and (orientation: landscape) {
        width: calc(100% - $ingredients__panel_base_width);
    }
    
    @media (max-width: 767px), (min-width: 768px) and (orientation: portrait) {
        width: 100%;
    }
}
    